In [8]:
import pandas as pd
import os

pd.set_option("display.max_columns", 500)
df = pd.read_csv('mta/turnstile_210102.txt')
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2020,03:00:00,REGULAR,7508509,2557569
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2020,07:00:00,REGULAR,7508511,2557581
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2020,11:00:00,REGULAR,7508531,2557636
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2020,15:00:00,REGULAR,7508610,2557667
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2020,19:00:00,REGULAR,7508767,2557689
...,...,...,...,...,...,...,...,...,...,...,...
210428,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2021,04:00:00,REGULAR,5554,541
210429,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2021,08:00:00,REGULAR,5554,541
210430,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2021,12:00:00,REGULAR,5554,541
210431,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2021,16:00:00,REGULAR,5554,541
210432,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2021,20:00:00,REGULAR,5554,541

In [9]:
def mta_to_df():
    filenames = os.listdir('mta')
    data = pd.DataFrame()

    for file in filenames:
        df = pd.read_csv('mta/' + file)
        data = pd.concat([data, df])
    return data

In [10]:
get_files()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Unnamed: 0
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/14/2020,03:00:00,REGULAR,7488490.0,2548950.0,NaN
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/14/2020,07:00:00,REGULAR,7488497.0,2548957.0,NaN
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/14/2020,11:00:00,REGULAR,7488527.0,2549007.0,NaN
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/14/2020,15:00:00,REGULAR,7488630.0,2549046.0,NaN
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/14/2020,19:00:00,REGULAR,7488805.0,2549080.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
213100,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,11/06/2020,04:00:00,REGULAR,5554.0,541.0,NaN
213101,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,11/06/2020,08:00:00,REGULAR,5554.0,541.0,NaN
213102,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,11/06/2020,12:00:00,REGULAR,5554.0,541.0,NaN
213103,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,11/06/2020,16:00:00,REGULAR,5554.0,541.0,NaN
213104,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,11/06/2020,20:00:00,REGULAR,5554.0,541.0,NaN