In [1]:
import pandas as pd
import numpy as np

import json

In [2]:
from clean2 import *
# from clean2 import data_wrangling

In [3]:
# get data using funcs from clean2.py
df = data_wrangling()

In [4]:
df.head(100000).tail(99985)

,DATE_TIME,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,AMPM,DAY_NAME
192862,2016-09-14 09:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/14/2016,09:00:00,5554,271,AM,Wednesday
192861,2016-09-14 05:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/14/2016,05:00:00,5554,271,AM,Wednesday
192860,2016-09-14 01:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/14/2016,01:00:00,5554,271,AM,Wednesday
192859,2016-09-13 21:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/13/2016,21:00:00,5554,271,PM,Tuesday
192858,2016-09-13 17:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/13/2016,17:00:00,5554,271,PM,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
161382,2016-09-07 16:00:00,R306,R207,00-00-03,135 ST,23,IRT,09/07/2016,16:00:00,9854545,1647657,PM,Wednesday
161381,2016-09-07 12:00:00,R306,R207,00-00-03,135 ST,23,IRT,09/07/2016,12:00:00,9854161,1647597,PM,Wednesday
161380,2016-09-07 08:00:00,R306,R207,00-00-03,135 ST,23,IRT,09/07/2016,08:00:00,9853437,1647531,AM,Wednesday
161379,2016-09-07 04:00:00,R306,R207,00-00-03,135 ST,23,IRT,09/07/2016,04:00:00,9853103,1647487,AM,Wednesday
161378,2016-09-07 00:00:00,R306,R207,00-00-03,135 ST,23,IRT,09/07/2016,00:00:00,9853102,1647485,AM,Wednesday

In [5]:
mta_station_info = pd.read_csv("http://web.mta.info/developers/data/nyct/subway/Stations.csv")
mta_station_info.rename(columns={'GTFS Latitude': 'Lat', 'GTFS Longitude': 'Lon', 'Stop Name': 'Station'}, inplace=True)
mta_station_info

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Station,Borough,Daytime Routes,Structure,Lat,Lon,North Direction Label,South Direction Label,ADA,ADA Notes
0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan,0,NaN
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan,0,NaN
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,517,517,S15,SIR,Staten Island,Prince's Bay,SI,SIR,Open Cut,40.525507,-74.200064,St George,Tottenville,0,NaN
492,518,518,S14,SIR,Staten Island,Pleasant Plains,SI,SIR,Embankment,40.522410,-74.217847,St George,Tottenville,0,NaN
493,519,519,S13,SIR,Staten Island,Richmond Valley,SI,SIR,Open Cut,40.519631,-74.229141,St George,Tottenville,0,NaN
494,522,522,S09,SIR,Staten Island,Tottenville,SI,SIR,At Grade,40.512764,-74.251961,St George,NaN,1,NaN
495,523,523,S11,SIR,Staten Island,Arthur Kill,SI,SIR,At Grade,40.516578,-74.242096,St George,Tottenville,1,NaN

Data source for income by zip code: (US Census) https://catalog.data.gov/dataset/zip-code-data

In [13]:
us_zips = pd.read_csv("18zpallagi.csv")
us_zips.rename(columns={'A00100':'adj_gross_inc'}, inplace=True)
# us_zips_agi = us_zips[['zipcode','adj_gross_inc']].groupby('zipcode').agg(sum)

us_zips_agi

         adj_gross_inc
zipcode
0         1.168118e+10
1001      5.467750e+05
1002      8.848890e+05
1005      1.492950e+05
1007      6.203770e+05
...                ...
99827     8.882500e+04
99833     1.144710e+05
99835     3.163940e+05
99901     4.377110e+05
99999     2.136667e+08

[27558 rows x 1 columns]

Now that we have all USA zip codes, we need to get a list of only those in NYC. nycbynatives.com offers a complete list of these zip codes along with the corresponding neighborhoods. I copy/pasted them into 'ny_zips.csv'

source: https://www.nycbynatives.com/nyc_info/new_york_city_zip_codes.php

In [7]:
nyc_zips = pd.read_csv("ny_zips.csv")
#nyc_zips.dropna(axis=1, how='all', inplace=True)

nyc_agi_by_zip = nyc_zips.join(us_zips_agi, how='inner', on='zipcode')

nyc_agi_by_zip

     zipcode       area  adj_gross_inc
0      10001  Manhattan      2906435.0
1      10002  Manhattan      2718913.0
2      10003  Manhattan      8191737.0
3      10004  Manhattan       944925.0
4      10005  Manhattan      2603668.0
..       ...        ...            ...
235    11691     Queens      1033194.0
236    11692     Queens       393888.0
237    11693     Queens       319792.0
238    11694     Queens       850523.0
239    11697     Queens       253659.0

[176 rows x 3 columns]

## Latitude/Longitude to Zip Code

In [8]:
mta_station_info = pd.read_csv("http://web.mta.info/developers/data/nyct/subway/Stations.csv")
mta_station_info.rename(columns={'GTFS Latitude': 'Lat', 'GTFS Longitude': 'Lon'}, inplace=True)

In [9]:
coords = mta_station_info[['Lat', 'Lon']]

In [10]:
# convert lat/lon to zip codes (NOT WORKING)
# import geopy

# from arcgis.geocoding import reverse_geocode
# from arcgis.geometry import Geometry
# from arcgis.gis import GIS
# import pandas as pd

# gis = GIS("http://www.arcgis.com", "***", "***")

# def get_zip(df, lon_field, lat_field):
#     location = reverse_geocode((Geometry({"x":float(df[lon_field]), "y":float(df[lat_field]), "spatialReference":{"wkid": 4326}})))
#     return location['address']['Postal']

# df = pd.DataFrame({
#     'Lat': [29.39291, 29.39923, 29.40147, 29.38752, 29.39291, 29.39537, 29.39343, 29.39291, 29.39556],
#     'Lon': [-98.50925, -98.51256, -98.51123, -98.52372, -98.50925, -98.50402, -98.49707, -98.50925, -98.53148]
# })

# zipcodes = mta_station_info.apply(get_zip, axis=1, lat_field='Lat', lon_field='Lon')

In [11]:
mta_station_names = list(df.STATION.unique())
mta_station_names

['RIT-ROOSEVELT',
 'RIT-MANHATTAN',
 'TOMPKINSVILLE',
 'ST. GEORGE',
 'EASTCHSTER/DYRE',
 'BAYCHESTER AV',
 'GUN HILL RD',
 'PELHAM PKWY',
 'MORRIS PARK',
 'FLATBUSH AV-B.C',
 'NEWKIRK AV',
 'BEVERLY RD',
 'CHURCH AV',
 'WINTHROP ST',
 'STERLING ST',
 'PRESIDENT ST',
 'NEW LOTS AV',
 'VAN SICLEN AV',
 'PENNSYLVANIA AV',
 'JUNIUS ST',
 'ROCKAWAY AV',
 'SARATOGA AV',
 'SUTTER AV-RUTLD',
 'CROWN HTS-UTICA',
 'KINGSTON AV',
 'NOSTRAND AV',
 'FRANKLIN AV',
 'EASTN PKWY-MUSM',
 'GRAND ARMY PLAZ',
 'BERGEN ST',
 'ATL AV-BARCLAY',
 'NEVINS ST',
 'HOYT ST',
 'BOROUGH HALL',
 'CLARK ST',
 '34 ST-HUDSON YD',
 'FLUSHING-MAIN',
 'METS-WILLETS PT',
 '111 ST',
 '103 ST-CORONA',
 'JUNCTION BLVD',
 '90 ST-ELMHURST',
 '82 ST-JACKSON H',
 '74 ST-BROADWAY',
 '69 ST',
 '61 ST WOODSIDE',
 '52 ST',
 '46 ST BLISS ST',
 '40 ST LOWERY ST',
 '33 ST-RAWSON ST',
 'ASTORIA DITMARS',
 'ASTORIA BLVD',
 '30 AV',
 'BROADWAY',
 '36 AV',
 '39 AV',
 'QUEENSBORO PLZ',
 'COURT SQ',
 'HUNTERS PT AV',
 'VERNON-JACKSON',
 '5 AVE',
 'PELHAM BAY PARK',
 'BUHRE AV',
 'MIDDLETOWN RD',
 'WESTCHESTER SQ',
 'ZEREGA AV',
 'CASTLE HILL AV',
 'PARKCHESTER',
 'ST LAWRENCE AV',
 'MORISN AV/SNDVW',
 'ELDER AV',
 'WHITLOCK AV',
 'HUNTS POINT AV',
 'LONGWOOD AV',
 'E 149 ST',
 "E 143/ST MARY'S",
 'CYPRESS AV',
 'BROOK AV',
 '3 AV 138 ST',
 'WAKEFIELD/241',
 'NEREID AV',
 '233 ST',
 '225 ST',
 '219 ST',
 'BURKE AV',
 'ALLERTON AV',
 'BRONX PARK EAST',
 'E 180 ST',
 'WEST FARMS SQ',
 '174 ST',
 'FREEMAN ST',
 'SIMPSON ST',
 'INTERVALE AV',
 'PROSPECT AV',
 'JACKSON AV',
 '3 AV-149 ST',
 'HARLEM 148 ST',
 '145 ST',
 '135 ST',
 '125 ST',
 '116 ST',
 'CENTRAL PK N110',
 'WOODLAWN',
 'MOSHOLU PKWY',
 'BEDFORD PK BLVD',
 'KINGSBRIDGE RD',
 'FORDHAM RD',
 '183 ST',
 'BURNSIDE AV',
 '176 ST',
 'MT EDEN AV',
 '170 ST',
 '167 ST',
 '161/YANKEE STAD',
 '149/GRAND CONC',
 '138/GRAND CONC',
 '110 ST',
 '103 ST',
 '96 ST',
 '86 ST',
 '77 ST',
 '68ST-HUNTER CO',
 '59 ST',
 '51 ST',
 'GRD CNTRL-42 ST',
 '33 ST',
 '28 ST',
 '23 ST',
 '14 ST-UNION SQ',
 'ASTOR PL',
 'BLEECKER ST',
 'SPRING ST',
 'BROOKLYN BRIDGE',
 'FULTON ST',
 'WALL ST',
 'BOWLING GREEN',
 'V.CORTLANDT PK',
 '238 ST',
 '231 ST',
 'MARBLE HILL-225',
 '215 ST',
 '207 ST',
 'DYCKMAN ST',
 '191 ST',
 '181 ST',
 '168 ST',
 '157 ST',
 '137 ST CITY COL',
 '116 ST-COLUMBIA',
 'CATHEDRAL PKWY',
 '79 ST',
 '72 ST',
 '66 ST-LINCOLN',
 '59 ST COLUMBUS',
 '50 ST',
 'TIMES SQ-42 ST',
 '34 ST-PENN STA',
 '18 ST',
 '14 ST',
 'CHRISTOPHER ST',
 'HOUSTON ST',
 'CANAL ST',
 'FRANKLIN ST',
 'CHAMBERS ST',
 'PARK PLACE',
 'RECTOR ST',
 'SOUTH FERRY',
 'PATH NEW WTC',
 'NEWARK HM HE',
 'NEWARK C',
 'NEWARK BM BW',
 'THIRTY THIRD ST',
 'LACKAWANNA',
 'THIRTY ST',
 'TWENTY THIRD ST',
 '14TH STREET',
 '9TH STREET',
 'CITY / BUS',
 'PAVONIA/NEWPORT',
 'EXCHANGE PLACE',
 'GROVE STREET',
 'JOURNAL SQUARE',
 'HARRISON',
 'NEWARK HW BMEBE',
 'ORCHARD BEACH',
 'JAMAICA CENTER',
 'SUTPHIN-ARCHER',
 'JAMAICA VAN WK',
 '21 ST-QNSBRIDGE',
 'ROOSEVELT ISLND',
 'LEXINGTON AV/63',
 '57 ST',
 'NEPTUNE AV',
 'AVENUE X',
 'AVENUE U',
 'KINGS HWY',
 'AVENUE P',
 'AVENUE N',
 'BAY PKWY',
 'AVENUE I',
 '18 AV',
 'DITMAS AV',
 'FT HAMILTON PKY',
 '15 ST-PROSPECT',
 '7 AV',
 '4 AV-9 ST',
 'SMITH-9 ST',
 'CARROLL ST',
 'YORK ST',
 'EAST BROADWAY',
 'DELANCEY/ESSEX',
 '2 AV',
 'GRAND ST',
 "B'WAY-LAFAYETTE",
 '34 ST-HERALD SQ',
 '42 ST-BRYANT PK',
 '47-50 STS ROCK',
 'CLINTON-WASH AV',
 'CLASSON AV',
 'BEDFORD-NOSTRAN',
 'MYRTLE-WILLOUGH',
 'FLUSHING AV',
 'METROPOLITAN AV',
 'NASSAU ST',
 'GREENPOINT AV',
 '21 ST',
 'JAMAICA 179 ST',
 '169 ST',
 'PARSONS BLVD',
 'SUTPHIN BLVD',
 'BRIARWOOD',
 'KEW GARDENS',
 '75 AV',
 'FOREST HILLS 71',
 '67 AV',
 '63 DR-REGO PARK',
 'WOODHAVEN BLVD',
 'GRAND-NEWTOWN',
 'ELMHURST AV',
 'JKSN HT-ROOSVLT',
 '65 ST',
 'NORTHERN BLVD',
 '46 ST',
 'STEINWAY ST',
 '36 ST',
 'QUEENS PLAZA',
 'COURT SQ-23 ST',
 'LEXINGTON AV/53',
 '5 AV/53 ST',
 'NORWOOD 205 ST',
 '182-183 STS',
 'TREMONT AV',
 '174-175 STS',
 '155 ST',
 'FAR ROCKAWAY',
 'BEACH 25 ST',
 'BEACH 36 ST',
 'BEACH 44 ST',
 'BEACH 60 ST',
 'BEACH 67 ST',
 'ROCKAWAY PARK B',
 'BEACH 105 ST',
 'BEACH 98 ST',
 'BEACH 90 ST',
 'BROAD CHANNEL',
 'HOWARD BCH JFK',
 'AQUEDUCT RACETR',
 'AQUEDUCT N.COND',
 'OZONE PK LEFFRT',
 '104 ST',
 'ROCKAWAY BLVD',
 '88 ST',
 '80 ST',
 'GRANT AV',
 'EUCLID AV',
 'SHEPHERD AV',
 'VAN SICLEN AVE',
 'LIBERTY AV',
 'BROADWAY JCT',
 'RALPH AV',
 'UTICA AV',
 'KINGSTON-THROOP',
 'LAFAYETTE AV',
 'HOYT-SCHER',
 'JAY ST-METROTEC',
 'HIGH ST',
 'WORLD TRADE CTR',
 'W 4 ST-WASH SQ',
 '42 ST-PORT AUTH',
 '81 ST-MUSEUM',
 '163 ST-AMSTERDM',
 '175 ST',
 '190 ST',
 'INWOOD-207 ST',
 'FRESH POND RD',
 'FOREST AVE',
 'SENECA AVE',
 'KNICKERBOCKER',
 'CENTRAL AV',
 'JFK JAMAICA CT1',
 '121 ST',
 '85 ST-FOREST PK',
 '75 ST-ELDERTS',
 'CYPRESS HILLS',
 'CRESCENT ST',
 'NORWOOD AV',
 'CLEVELAND ST',
 'ALABAMA AV',
 'CHAUNCEY ST',
 'HALSEY ST',
 'GATES AV',
 'KOSCIUSZKO ST',
 'MYRTLE AV',
 'LORIMER ST',
 'HEWES ST',
 'MARCY AV',
 'CANARSIE-ROCKAW',
 'EAST 105 ST',
 'NEW LOTS',
 'LIVONIA AV',
 'SUTTER AV',
 'ATLANTIC AV',
 'BUSHWICK AV',
 'WILSON AV',
 'MYRTLE-WYCKOFF',
 'DEKALB AV',
 'JEFFERSON ST',
 'MORGAN AV',
 'MONTROSE AV',
 'GRAHAM AV',
 'BEDFORD AV',
 '1 AV',
 '3 AV',
 '6 AV',
 '8 AV',
 'W 8 ST-AQUARIUM',
 'CONEY IS-STILLW',
 'BAY 50 ST',
 '25 AV',
 '20 AV',
 '71 ST',
 '55 ST',
 '9 AV',
 'NEW UTRECHT AV',
 'BAY RIDGE-95 ST',
 'BAY RIDGE AV',
 '53 ST',
 '45 ST',
 '25 ST',
 '4AV-9 ST',
 'UNION ST',
 'OCEAN PKWY',
 'BRIGHTON BEACH',
 'SHEEPSHEAD BAY',
 'NECK RD',
 'AVENUE M',
 'AVENUE J',
 'AVENUE H',
 'NEWKIRK PLAZA',
 'CORTELYOU RD',
 'BEVERLEY ROAD',
 'PARKSIDE AV',
 'PROSPECT PARK',
 'BOTANIC GARDEN',
 'BROAD ST',
 'BOWERY',
 'WHITEHALL S-FRY',
 'CORTLANDT ST',
 'CITY HALL',
 'PRINCE ST',
 '8 ST-NYU',
 '49 ST',
 '57 ST-7 AV',
 '5 AV/59 ST']

In [12]:
geolocator = geopy.Nominatim(user_agent='mta-da')

# for station in mta_station_names:
#     address = station + ' Station New York City, NY'
    
#     location = geolocator.reverse((lat, lon)

SyntaxError: unexpected EOF while parsing (<ipython-input-12-54aba480ece8>, line 7)

In [ ]:



import geopy

def get_zip(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    return location.raw['address']['postcode']


geolocator = geopy.Nominatim(user_agent='mta-da')

geo_df = pd.DataFrame({
    'Lat': list(mta_station_info.Lat.round(6)),
    'Lon': list(mta_station_info.Lon.round(6))
})
# zipcodes = mta_station_info.apply(get_zip, axis=1, geolocator=geolocator, lat_field='Lat', lon_field='Lon')

In [14]:
import googlemaps
gmaps = googlemaps.Client(key='AIzaSyB7VjMRZtf7N8d_kZZhHJSzpkEJ3M8hPrA')
# Geocoding an address
geocode_result = gmaps.geocode('TIMES SQ-42 ST')
lat = geocode_result[0]["geometry"]["location"]["lat"]
lon = geocode_result[0]["geometry"]["location"]["lng"]
geocode_result

[{'address_components': [{'long_name': 'Times Sq - 42 St',
    'short_name': 'Times Sq - 42 St',
    'types': ['establishment', 'point_of_interest', 'transit_station']},
   {'long_name': 'Manhattan',
    'short_name': 'Manhattan',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': 'New York',
    'short_name': 'New York',
    'types': ['locality', 'political']},
   {'long_name': 'New York County',
    'short_name': 'New York County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'New York',
    'short_name': 'NY',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']}],
  'formatted_address': 'Times Sq - 42 St, New York, NY, USA',
  'geometry': {'location': {'lat': 40.7552574, 'lng': -73.986933},
   'location_type': 'GEOMETRIC_CENTER',
   'viewport': {'northeast': {'lat': 40.7566063802915,
     'lng': -73.9855840197085},
    'southwest': {'lat': 40.7539084197085, 'lng': -73.9882819802915}}},
  'place_id': 'ChIJp2gUMatZwokRA0ZoPYhQuQ4',
  'plus_code': {'compound_code': 'Q247+46 New York, NY, USA',
   'global_code': '87G8Q247+46'},
  'types': ['establishment', 'point_of_interest', 'transit_station']},
 {'address_components': [{'long_name': 'Times Sq-42 St Station',
    'short_name': 'Times Sq-42 St Station',
    'types': ['establishment',
     'point_of_interest',
     'subway_station',
     'transit_station']},
   {'long_name': 'Manhattan',
    'short_name': 'Manhattan',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': 'New York',
    'short_name': 'New York',
    'types': ['locality', 'political']},
   {'long_name': 'New York County',
    'short_name': 'New York County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'New York',
    'short_name': 'NY',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '10036', 'short_name': '10036', 'types': ['postal_code']}],
  'formatted_address': 'Times Sq-42 St Station, New York, NY 10036, USA',
  'geometry': {'location': {'lat': 40.7545563, 'lng': -73.9866737},
   'location_type': 'GEOMETRIC_CENTER',
   'viewport': {'northeast': {'lat': 40.75590528029149,
     'lng': -73.9853247197085},
    'southwest': {'lat': 40.75320731970849, 'lng': -73.98802268029151}}},
  'place_id': 'ChIJ5RqjPKtZwokRgOy4tBivbcw',
  'plus_code': {'compound_code': 'Q237+R8 New York, NY, USA',
   'global_code': '87G8Q237+R8'},
  'types': ['establishment',
   'point_of_interest',
   'subway_station',
   'transit_station']}]

In [15]:
def get_zipcode(address):
    """ Adds a zipcode column to the df.
    
        To be used with the df.apply() function
        
        Parameters: address (string) 
        
        Returns: zipcode (string)
        
    """
    # get address that we will feed into Google maps 
    gmaps_full_address = address + ' Subway Station New York City, NY' 
    gmaps = googlemaps.Client(key='AIzaSyB7VjMRZtf7N8d_kZZhHJSzpkEJ3M8hPrA')
    # Geocoding an address
    geocode_result = gmaps.geocode(gmaps_full_address)
    zipcode = geocode_result[0]['address_components'][6]['long_name']
    return zipcode

In [16]:
gmaps = googlemaps.Client(key='AIzaSyB7VjMRZtf7N8d_kZZhHJSzpkEJ3M8hPrA')
# Geocoding an address
geocode_result = gmaps.geocode('South St, Whitehall St, New York')
zipcode = geocode_result[0]['address_components'][6]['long_name']

json.dumps(zipcode)

'"10004"'

In [18]:
gmaps = googlemaps.Client(key='AIzaSyB7VjMRZtf7N8d_kZZhHJSzpkEJ3M8hPrA')

station_zips = {}

for station in mta_station_names:
    address = station + ' Station New York City, NY'
    geocode_result = gmaps.geocode(address)
    print(station)
    try:
        zipcode = geocode_result[0]['address_components'][6]['long_name']
        if len(zipcode) == 5:
            station_zips[station] = zipcode
    except:
        continue

RIT-ROOSEVELT
RIT-MANHATTAN
TOMPKINSVILLE
ST. GEORGE
EASTCHSTER/DYRE
BAYCHESTER AV
GUN HILL RD
PELHAM PKWY
MORRIS PARK
FLATBUSH AV-B.C
NEWKIRK AV
BEVERLY RD
CHURCH AV
WINTHROP ST
STERLING ST
PRESIDENT ST
NEW LOTS AV
VAN SICLEN AV
PENNSYLVANIA AV
JUNIUS ST
ROCKAWAY AV
SARATOGA AV
SUTTER AV-RUTLD
CROWN HTS-UTICA
KINGSTON AV
NOSTRAND AV
FRANKLIN AV
EASTN PKWY-MUSM
GRAND ARMY PLAZ
BERGEN ST
ATL AV-BARCLAY
NEVINS ST
HOYT ST
BOROUGH HALL
CLARK ST
34 ST-HUDSON YD
FLUSHING-MAIN
METS-WILLETS PT
111 ST
103 ST-CORONA
JUNCTION BLVD
90 ST-ELMHURST
82 ST-JACKSON H
74 ST-BROADWAY
69 ST
61 ST WOODSIDE
52 ST
46 ST BLISS ST
40 ST LOWERY ST
33 ST-RAWSON ST
ASTORIA DITMARS
ASTORIA BLVD
30 AV
BROADWAY
36 AV
39 AV
QUEENSBORO PLZ
COURT SQ
HUNTERS PT AV
VERNON-JACKSON
5 AVE
PELHAM BAY PARK
BUHRE AV
MIDDLETOWN RD
WESTCHESTER SQ
ZEREGA AV
CASTLE HILL AV
PARKCHESTER
ST LAWRENCE AV
MORISN AV/SNDVW
ELDER AV
WHITLOCK AV
HUNTS POINT AV
LONGWOOD AV
E 149 ST
E 143/ST MARY'S
CYPRESS AV
BROOK AV
3 AV 138 ST
WAKEFIELD/241
NEREID AV
233 ST
225 ST
219 ST
BURKE AV
ALLERTON AV
BRONX PARK EAST
E 180 ST
WEST FARMS SQ
174 ST
FREEMAN ST
SIMPSON ST
INTERVALE AV
PROSPECT AV
JACKSON AV
3 AV-149 ST
HARLEM 148 ST
145 ST
135 ST
125 ST
116 ST
CENTRAL PK N110
WOODLAWN
MOSHOLU PKWY
BEDFORD PK BLVD
KINGSBRIDGE RD
FORDHAM RD
183 ST
BURNSIDE AV
176 ST
MT EDEN AV
170 ST
167 ST
161/YANKEE STAD
149/GRAND CONC
138/GRAND CONC
110 ST
103 ST
96 ST
86 ST
77 ST
68ST-HUNTER CO
59 ST
51 ST
GRD CNTRL-42 ST
33 ST
28 ST
23 ST
14 ST-UNION SQ
ASTOR PL
BLEECKER ST
SPRING ST
BROOKLYN BRIDGE
FULTON ST
WALL ST
BOWLING GREEN
V.CORTLANDT PK
238 ST
231 ST
MARBLE HILL-225
215 ST
207 ST
DYCKMAN ST
191 ST
181 ST
168 ST
157 ST
137 ST CITY COL
116 ST-COLUMBIA
CATHEDRAL PKWY
79 ST
72 ST
66 ST-LINCOLN
59 ST COLUMBUS
50 ST
TIMES SQ-42 ST
34 ST-PENN STA
18 ST
14 ST
CHRISTOPHER ST
HOUSTON ST
CANAL ST
FRANKLIN ST
CHAMBERS ST
PARK PLACE
RECTOR ST
SOUTH FERRY
PATH NEW WTC
NEWARK HM HE
NEWARK C
NEWARK BM BW
THIRTY THIRD ST
LACKAWANNA
THIRTY ST
TWENTY THIRD ST
14TH STREET
9TH STREET
CITY / BUS
PAVONIA/NEWPORT
EXCHANGE PLACE
GROVE STREET
JOURNAL SQUARE
HARRISON
NEWARK HW BMEBE
ORCHARD BEACH
JAMAICA CENTER
SUTPHIN-ARCHER
JAMAICA VAN WK
21 ST-QNSBRIDGE
ROOSEVELT ISLND
LEXINGTON AV/63
57 ST
NEPTUNE AV
AVENUE X
AVENUE U
KINGS HWY
AVENUE P
AVENUE N
BAY PKWY
AVENUE I
18 AV
DITMAS AV
FT HAMILTON PKY
15 ST-PROSPECT
7 AV
4 AV-9 ST
SMITH-9 ST
CARROLL ST
YORK ST
EAST BROADWAY
DELANCEY/ESSEX
2 AV
GRAND ST
B'WAY-LAFAYETTE
34 ST-HERALD SQ
42 ST-BRYANT PK
47-50 STS ROCK
CLINTON-WASH AV
CLASSON AV
BEDFORD-NOSTRAN
MYRTLE-WILLOUGH
FLUSHING AV
METROPOLITAN AV
NASSAU ST
GREENPOINT AV
21 ST
JAMAICA 179 ST
169 ST
PARSONS BLVD
SUTPHIN BLVD
BRIARWOOD
KEW GARDENS
75 AV
FOREST HILLS 71
67 AV
63 DR-REGO PARK
WOODHAVEN BLVD
GRAND-NEWTOWN
ELMHURST AV
JKSN HT-ROOSVLT
65 ST
NORTHERN BLVD
46 ST
STEINWAY ST
36 ST
QUEENS PLAZA
COURT SQ-23 ST
LEXINGTON AV/53
5 AV/53 ST
NORWOOD 205 ST
182-183 STS
TREMONT AV
174-175 STS
155 ST
FAR ROCKAWAY
BEACH 25 ST
BEACH 36 ST
BEACH 44 ST
BEACH 60 ST
BEACH 67 ST
ROCKAWAY PARK B
BEACH 105 ST
BEACH 98 ST
BEACH 90 ST
BROAD CHANNEL
HOWARD BCH JFK
AQUEDUCT RACETR
AQUEDUCT N.COND
OZONE PK LEFFRT
104 ST
ROCKAWAY BLVD
88 ST
80 ST
GRANT AV
EUCLID AV
SHEPHERD AV
VAN SICLEN AVE
LIBERTY AV
BROADWAY JCT
RALPH AV
UTICA AV
KINGSTON-THROOP
LAFAYETTE AV
HOYT-SCHER
JAY ST-METROTEC
HIGH ST
WORLD TRADE CTR
W 4 ST-WASH SQ
42 ST-PORT AUTH
81 ST-MUSEUM
163 ST-AMSTERDM
175 ST
190 ST
INWOOD-207 ST
FRESH POND RD
FOREST AVE
SENECA AVE
KNICKERBOCKER
CENTRAL AV
JFK JAMAICA CT1
121 ST
85 ST-FOREST PK
75 ST-ELDERTS
CYPRESS HILLS
CRESCENT ST
NORWOOD AV
CLEVELAND ST
ALABAMA AV
CHAUNCEY ST
HALSEY ST
GATES AV
KOSCIUSZKO ST
MYRTLE AV
LORIMER ST
HEWES ST
MARCY AV
CANARSIE-ROCKAW
EAST 105 ST
NEW LOTS
LIVONIA AV
SUTTER AV
ATLANTIC AV
BUSHWICK AV
WILSON AV
MYRTLE-WYCKOFF
DEKALB AV
JEFFERSON ST
MORGAN AV
MONTROSE AV
GRAHAM AV
BEDFORD AV
1 AV
3 AV
6 AV
8 AV
W 8 ST-AQUARIUM
CONEY IS-STILLW
BAY 50 ST
25 AV
20 AV
71 ST
55 ST
9 AV
NEW UTRECHT AV
BAY RIDGE-95 ST
BAY RIDGE AV
53 ST
45 ST
25 ST
4AV-9 ST
UNION ST
OCEAN PKWY
BRIGHTON BEACH
SHEEPSHEAD BAY
NECK RD
AVENUE M
AVENUE J
AVENUE H
NEWKIRK PLAZA
CORTELYOU RD
BEVERLEY ROAD
PARKSIDE AV
PROSPECT PARK
BOTANIC GARDEN
BROAD ST
BOWERY
WHITEHALL S-FRY
CORTLANDT ST
CITY HALL
PRINCE ST
8 ST-NYU
49 ST
57 ST-7 AV
5 AV/59 ST

In [19]:
len(mta_station_names)

374

In [25]:
len(station_zips.keys())

289

In [ ]:
# import json
# import re

# gmaps = googlemaps.Client(key='AIzaSyB7VjMRZtf7N8d_kZZhHJSzpkEJ3M8hPrA')
# # Geocoding an address
# geocode_result = gmaps.geocode('South St, Whitehall St, New York')
# zipcode = geocode_result
# dicts = json.dumps(zipcode[0])

# regex = r".*address_comp"
# result = re.search(dicts, regex)
# result is None

In [ ]:
import requests

api_key = 'AIzaSyB7VjMRZtf7N8d_kZZhHJSzpkEJ3M8hPrA'

station = 'BAYCHESTER AV'
address = station + ' Station New York City, NY' 

params = {
    'key': api_key,
    'address': address
}

base_url = 'https://maps.googleapis.com/maps/api/geocode/json'
response = requests.get(base_url, params=params).json()
response['results'][0]['location']

In [ ]:
# try by passing in lat/lon
mta_station_info

In [ ]:
import geopy
import pandas as pd


def get_zip(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    return location.raw['address']['postcode']


geolocator = geopy.Nominatim(user_agent='mta-da')

geo_df = pd.DataFrame({
    'Lat': list(mta_station_info.Lat.round(6)),
    'Lon': list(mta_station_info.Lon.round(6))
})
zipcodes = geo_df.apply(get_zip, axis=1, geolocator=geolocator, lat_field='Lat', lon_field='Lon')

In [ ]:
stations

In [ ]:
list(mta_station_info.Lat.round(6))

In [ ]:
stations = list(df.STATION.unique)

In [21]:
df

,DATE_TIME,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,AMPM,DAY_NAME
192877,2016-09-16 21:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,21:00:00,5554,271,PM,Friday
192876,2016-09-16 17:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,17:00:00,5554,271,PM,Friday
192875,2016-09-16 13:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,13:00:00,5554,271,PM,Friday
192874,2016-09-16 09:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,09:00:00,5554,271,AM,Friday
192873,2016-09-16 05:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,05:00:00,5554,271,AM,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2016-08-27 16:00:00,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,16:00:00,5799833,1966214,PM,Saturday
3,2016-08-27 12:00:00,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,12:00:00,5799610,1966155,PM,Saturday
2,2016-08-27 08:00:00,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,08:00:00,5799492,1966079,AM,Saturday
1,2016-08-27 04:00:00,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,04:00:00,5799463,1966044,AM,Saturday
0,2016-08-27 00:00:00,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,00:00:00,5799442,1966041,AM,Saturday