In [1]:
from clean2 import *
# from clean2 import data_wrangling

In [2]:
# get data using funcs from clean2.py
df = data_wrangling()
daily_entries = get_daily_entries(df)

In [3]:
daily_entries.head(100000).tail(99985)

,C/A,UNIT,SCP,STATION,DATE,AMPM,DAY_NAME,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
29,A002,R051,02-00-00,59 ST,09/10/2016,PM,Saturday,5818247,09/03/2016,5809522.0,8725.0
30,A002,R051,02-00-00,59 ST,09/11/2016,AM,Sunday,5818451,09/04/2016,5809694.0,8757.0
31,A002,R051,02-00-00,59 ST,09/11/2016,PM,Sunday,5818974,09/04/2016,5810188.0,8786.0
32,A002,R051,02-00-00,59 ST,09/12/2016,AM,Monday,5819168,09/05/2016,5810338.0,8830.0
33,A002,R051,02-00-00,59 ST,09/12/2016,PM,Monday,5820548,09/05/2016,5810871.0,9677.0
...,...,...,...,...,...,...,...,...,...,...,...
150110,R245,R051,00-05-00,59 ST,09/12/2016,PM,Monday,10154776,09/05/2016,10145944.0,8832.0
150111,R245,R051,00-05-00,59 ST,09/13/2016,AM,Tuesday,10155140,09/06/2016,10146241.0,8899.0
150112,R245,R051,00-05-00,59 ST,09/13/2016,PM,Tuesday,10156149,09/06/2016,10147124.0,9025.0
150113,R245,R051,00-05-00,59 ST,09/14/2016,AM,Wednesday,10156523,09/07/2016,10147522.0,9001.0
150114,R245,R051,00-05-00,59 ST,09/14/2016,PM,Wednesday,10157500,09/07/2016,10148559.0,8941.0

Data source for income by zip code:

In [4]:
import pandas as pd
import numpy as np

In [10]:
us_zips = pd.read_csv("18zpallagi.csv")

In [11]:
us_zips.rename(columns={'A00100':'adj_gross_inc'}, inplace=True)

us_zips

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,1,768120,466830,90960,198750,696930,37470,...,0,0,59030,50007,669420,1732176,666750,1725286,2730,4220
1,1,AL,0,2,503430,225110,130060,134320,457510,23180,...,0,0,77300,111047,424280,1230668,420960,1220934,4110,9399
2,1,AL,0,3,274590,95560,131770,41020,248630,13210,...,0,0,68920,148870,205830,562490,201770,550675,5790,15182
3,1,AL,0,4,174830,35560,123370,12700,159190,6830,...,0,0,47730,136776,126560,403410,122610,388967,3730,13784
4,1,AL,0,5,245150,25990,207950,6480,224280,10500,...,50,58,98980,446992,145780,598498,137120,521691,9850,65917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165930,56,WY,99999,2,3400,1920,1000,390,3070,120,...,0,0,490,746,2790,6947,2730,6793,40,48
165931,56,WY,99999,3,2390,1030,1130,200,2170,100,...,0,0,490,1314,1800,5036,1740,4809,50,104
165932,56,WY,99999,4,1850,530,1190,120,1730,70,...,0,0,430,1391,1340,4751,1270,4400,50,92
165933,56,WY,99999,5,2660,430,2150,90,2440,140,...,0,0,810,4135,1760,8021,1580,6678,190,1025
165934,56,WY,99999,6,810,150,690,0,800,50,...,500,5494,330,10653,430,42081,170,3555,290,35915

In [12]:
us_zips = us_zips[['zipcode','adj_gross_inc']].groupby('zipcode').agg(sum)
us_zips

         adj_gross_inc
zipcode
0          11681177461
1001            546775
1002            884889
1005            149295
1007            620377
...                ...
99827            88825
99833           114471
99835           316394
99901           437711
99999        213666713

[27558 rows x 1 columns]

In [23]:
nyc_zips = pd.read_csv("ny_zips.csv")
# nyc_zips.dropna(axis=1, how='all', inplace=True)

nyc_zips

     zipcode       area
0      10001  Manhattan
1      10002  Manhattan
2      10003  Manhattan
3      10004  Manhattan
4      10005  Manhattan
..       ...        ...
235    11691     Queens
236    11692     Queens
237    11693     Queens
238    11694     Queens
239    11697     Queens

[240 rows x 2 columns]

In [26]:
nyc_agi_by_zip = nyc_zips.join(us_zips, how='inner', on='zipcode')

nyc_agi_by_zip

     zipcode       area  adj_gross_inc
0      10001  Manhattan        2906435
1      10002  Manhattan        2718913
2      10003  Manhattan        8191737
3      10004  Manhattan         944925
4      10005  Manhattan        2603668
..       ...        ...            ...
235    11691     Queens        1033194
236    11692     Queens         393888
237    11693     Queens         319792
238    11694     Queens         850523
239    11697     Queens         253659

[176 rows x 3 columns]

In [30]:
nyc_agi_by_zip.sort_values(by='adj_gross_inc', ascending=False).head(10)

    zipcode       area  adj_gross_inc
20    10022  Manhattan       14226340
22    10024  Manhattan       13806195
19    10021  Manhattan       12798847
65    10128  Manhattan       12570244
21    10023  Manhattan       12391069
26    10028  Manhattan       10128983
9     10011  Manhattan        9331779
2     10003  Manhattan        8191737
23    10025  Manhattan        8028810
17    10019  Manhattan        8005583

In [40]:
mta_station_info = pd.read_csv("http://web.mta.info/developers/data/nyct/subway/Stations.csv")
mta_station_info.rename(columns={'GTFS Latitude': 'Lat', 'GTFS Longitude': 'Lon'}, inplace=True)

mta_station_info

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,Lat,Lon,North Direction Label,South Direction Label,ADA,ADA Notes
0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan,0,NaN
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan,0,NaN
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,517,517,S15,SIR,Staten Island,Prince's Bay,SI,SIR,Open Cut,40.525507,-74.200064,St George,Tottenville,0,NaN
492,518,518,S14,SIR,Staten Island,Pleasant Plains,SI,SIR,Embankment,40.522410,-74.217847,St George,Tottenville,0,NaN
493,519,519,S13,SIR,Staten Island,Richmond Valley,SI,SIR,Open Cut,40.519631,-74.229141,St George,Tottenville,0,NaN
494,522,522,S09,SIR,Staten Island,Tottenville,SI,SIR,At Grade,40.512764,-74.251961,St George,NaN,1,NaN
495,523,523,S11,SIR,Staten Island,Arthur Kill,SI,SIR,At Grade,40.516578,-74.242096,St George,Tottenville,1,NaN

In [48]:
import geopy

from arcgis.geocoding import reverse_geocode
from arcgis.geometry import Geometry
from arcgis.gis import GIS
import pandas as pd

gis = GIS("http://www.arcgis.com", "***", "***")

def get_zip(df, lon_field, lat_field):
    location = reverse_geocode((Geometry({"x":float(df[lon_field]), "y":float(df[lat_field]), "spatialReference":{"wkid": 4326}})))
    return location['address']['Postal']

df = pd.DataFrame({
    'Lat': [29.39291, 29.39923, 29.40147, 29.38752, 29.39291, 29.39537, 29.39343, 29.39291, 29.39556],
    'Lon': [-98.50925, -98.51256, -98.51123, -98.52372, -98.50925, -98.50402, -98.49707, -98.50925, -98.53148]
})

zipcodes = mta_station_info.apply(get_zip, axis=1, lat_field='Lat', lon_field='Lon')

Exception: Unable to generate token.
Invalid username or password.
(Error Code: 400)